@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    // font-family: "Comic Sans MS", "Comic Sans", cursive; // Cursed font
    margin: 0;
    padding: 0;
}

$darkgreen: #81AE7F;
$paragraph-text: #202124;
$content-background: #EAFFE9D9;

button {
    all: unset;
}

.container {
    height: 100vh;
    display: flex;
    background-image: url("../img/background.jpg");
    background-position: 270px 0px;
    background-blend-mode: darken;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    background-color: $darkgreen;
    border-radius: 0 28px 28px 0;
    color: white;
    text-align: center;

    img {
        margin: 20px 65px;
        margin-top: 0;
        width: 270px;
    }

    h2 {
        font-size: 40px;
        padding-bottom: 30px;
    }

    ul {
        list-style: none;
        padding-bottom: 32px;
        display: grid;
        gap: 15px;
        li {
            font-size: 28px;
            font-weight: 500;
            a {
                color: white;
                text-decoration: none;
                &:hover {
                    color: rgba(255, 255, 255, 0.75);
                }
            }
        }
    }
}

main {
    padding: 60px 0;
    // height: 100vh;
    width: 100%;
    overflow-y: scroll;
    .content {
        padding: 30px 6%;
        width: 95%;
        min-height: 835px;
        box-sizing: border-box;
        margin: auto;
        border-radius: 28px;
        text-align: center;
        color: $darkgreen;
        background-color: $content-background;
        h1 {
            padding-bottom: 50px;
            font-size: 60px;
        }
        h2 {
            text-align: left;
        }
        p {
            font-size: 25px;
            color: $paragraph-text;
            line-height: 1.5;
            text-align: start;
        }
        .projects {
            display: grid;
            gap: 100px;
        }
        .project {
            display: flex;
            justify-content: space-between;
            .demo {
                width: 45%;
            }
            img {
                width: 100%;
            }
            .text {
                width: 50%;
                color: $paragraph-text;
                h3 {
                    text-align: start;
                    color: $darkgreen;
                    font-size: 35px;
                    padding-bottom: 2px;
                }
            }
        }
    }
}

.menubutton {
    display: none;
}

@media (max-width: 1024px) { 
    .projects {
        gap: 60px !important;
        .project {
            flex-direction: column;
            div {
                width: 100% !important;
            }
        }
    }
    .menubutton {
        display: block;
        border-radius: 10px;
        z-index: 1;
        position: absolute;
        top: 4px;
        right: 4px;
        height: 45px;
        width: 45px;
        background-image: url('../img/icon.svg');
        background-size: cover;
        &:hover {
            cursor: pointer;
        }
    }
    .container {
        background-position: -130px 0px;
    }
    header {
        display: none;
        position: absolute;
        border-radius: 0;
        height: 100vh;
        width: 100vw;
        transition: opacity 0.3s;
        img {
            margin: auto;
            width: 200px;
        }
    }
    header.hide {
        opacity: 0;
    }
    .menubutton.active {
        background-image: url('../img/icon-active.svg');
    }
    main {
        padding: 10px 0;
    }
    .content {
        width: 92% !important;
    }
    .display {
        display: flex;
    }
}
